//<FORM>
// Снипет (HTML):
.form {
	// max-width: rem(533);
	// width: 100%;
	max-width: rem(533);
	width: rem(533);
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: rem(6);
	gap: rem(6);
	background: #FFFFFF;
	border-radius: rem(16);
	position: relative;
	@media (max-width:$tablet){
		width: auto;
	}
	@media (max-width: em(430)){
		flex-direction: column;
	}
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
		width: 100%;
		height: rem(64);
		padding: 0 rem(19);
		color: #263238;
		font-weight: 500;
		border-radius: rem(10);
		&::placeholder {
			color: #263238;
		}
	}
	&__button {
	}
	&__error {
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%);
		// background-color: #fff;
		background-color: red;
		padding: rem(9) rem(6) rem(6) rem(6);
		border-radius: 100vh;
		border: solid rem(3) rgb(255, 255, 255);
		// color: rgb(255, 0, 0);
		color: #FFFFFF;
		// font-size: rem(16);
		font-weight: 500;
		// transform: translate(0, 120%)
	}
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";
